#nav {
	text-align:center;
}

#nav li {
	display:inline;
}

#nav a {
	text-decoration: none; 
	padding:0 30px; /* variable width */
}

h1.title {
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 56px;
}